@import "../helper/fonts";
@import "../helper/extends";
//@import "../directions/variables";
body {
  font-family: #{$Avenir-Light};
  overflow-x: hidden;
  font-size: 16px;
}

@media (max-width: 1535px) {
  #category-list {
    overflow-x: auto;
    overflow-y: hidden;
  }
  .dropdown-search .category-line {
    bottom: 1rem !important;
  }
}

@media (min-width: 1536px) {
  #category-list {
    height: 3rem !important;
  }
}

.test {
  margin-#{$left}: 20px;
}

.search-box-img {
  width: 2.25rem;
  height: 2.25rem;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 0.5rem;
}

.search-box-brands {
  width: 2.25rem;
  height: 2.25rem;
  object-fit: contain;
  margin-right: 0.5rem;
}

.search-filter-clear, .search-btn {
  background: transparent !important;
}

.search-filter-clear span, .search-btn i {
  font-weight: bold;
}

.dropdown-search {
  width: 100%;
  background-color: white;
  border-top: 0;
  color: black;
}

.dropdown-search {
  & .results-btn {
    width: 92% !important;
    margin: 0 auto;
    height: 30px !important;

    & a:hover {
      color: white !important;
    }

    & a {
      height: 30px !important;
      justify-content: center;
    }
  }

  & div:nth-child(2) {
    height: 150px;
    margin-right: 2.5rem;
    overflow-y: auto;
    @include minLarge {
      margin-left: 0.5rem;
    }
    margin-top: 1.5rem;
    @include maxMeduim {
      height: 100%;
    }

    & ul {
      & li {
        padding-bottom: 0.5rem;
        cursor: pointer;
        width: fit-content;
      }

      & li:hover {
        & a {
          & span:first-child {
            text-decoration: underline;
          }
        }
      }

      & a {
        & span:nth-child(2) {
          font-size: 0.9rem;
          color: #727272;
          @include maxMeduim {
            margin: 0 0.5rem;
          }
        }
      }
    }
  }

  & > div:first-child {
    @include minLarge {
      margin-left: 1rem;
      margin-right: 2.5rem;
    }
  }

  & p {
    font-weight: 600;
    padding: 0.5rem;
    margin-bottom: 0.5rem;
  }

  & #product-list {
    @include maxMeduim {
      overflow-y: hidden;
      height: 100%;
    }
    overflow-y: scroll;
    height: 150px;

    & li {
      width: fit-content;

      & a {
        & span:first-child {
          font-size: 16px;
          color: black;
          letter-spacing: 0.05rem;
        }
      }
    }
  }

  & #line {
    background: linear-gradient(to right, rgba(255, 255, 255, 0), #fff);
    position: absolute;
    #{$right}: -2.5rem;
    top: 1.25rem;
    content: '';
    width: 4.5rem;
    height: 0.5rem;
  }

  & #category-list {
    border-bottom: 1px solid #dddddd;
    height: 4rem;
    @include maxExtraLarge() {
      overflow-x: scroll;
    }
    scrollbar-width: thin;

    &::-webkit-scrollbar {
      height: 4px;
      border-radius: 10px;
    }

    & li {
      min-width: fit-content;

      & a {
        justify-content: center;
      }
    }

    & .category-active {
      border-bottom: 2px solid #222;
      height: 2.5rem;

      & a {
        color: black;
      }
    }

    & a {
      text-transform: uppercase;
      color: #727272;
      letter-spacing: 0.05rem;
      @include maxMeduim {
        font-size: 14px;
      }
    }

    & li {
      @include maxMeduim {
        margin-#{$right}: 0.75rem;
      }
      margin-#{$right}: 1.5rem;
      margin: 0.5rem 0;
      padding: 0.5rem 0;
    }
  }

  & ul {
    list-style: none;
    padding: 0;

    & a {
      display: flex;
      place-items: center;

      & > span {
        display: flex;
        flex-direction: column;
        @include minLarge {
          margin: 0 0.5rem;
        }
        font-weight: 500;
      }
    }

    & a:hover {
      text-decoration: none;
      color: black;
    }
  }

  & li:hover {
    cursor: pointer;
  }
}

.dropdown-search div:not(:last-child) {
  margin-bottom: 0.5rem;
}

.container {
  @media (min-width: 1360px) {
    max-width: 144rem;
    padding-inline: 4.8rem;
  }
}

a {
  color: $black;

  &:hover {
    text-decoration: unset;
  }
}

.btn-primary {
  font-family: #{$Avenir-Heavy};
  background-color: $dark-gray;
  border-color: $dark-gray;
  text-transform: uppercase;
  font-size: 14px;
  letter-spacing: 1px;
  height: 40px;
  outline: 0;
  @include prefixer(transition, all 0.3s ease-in-out, webkit moz o);

  &:hover {
    background-color: $gold;
    border-color: $gold;
  }

  &:active:not(:disabled) {
    background-color: $dark-gray !important;
    border-color: $dark-gray !important;
  }

  &:disabled {
    background-color: $disabled;
    border-color: $disabled;
  }
}

button {
  &:focus {
    @include prefixer(box-shadow, unset !important, webkit moz o);
    outline: unset;
  }

  &:active {
    &:focus {
      @include prefixer(box-shadow, unset !important, webkit moz o);
    }
  }
}

.form-control {
  &:not(textarea) {
    height: 48px;
  }

  &:focus {
    color: #495057;
    background-color: #fff;
    border-color: #ced4da;
    outline: 0;
    box-shadow: unset;
  }
}

.fullscreen-bg {
  position: fixed;
  top: 0;
  #{$left}: 0;
  width: 100%;
  height: 100%;
  background-color: $black-half-opacity;
  opacity: 0;
  visibility: hidden;
  @include prefixer(transition, all 0.3s ease-in-out, webkit moz o);

  &.active {
    z-index: 10;
    opacity: 1;
    visibility: visible;
  }
}

::selection {
  background: $gold;
  color: $white;
}

::-moz-selection {
  background: $gold;
  color: $white;
}

::-webkit-selection {
  background: $gold;
  color: $white;
}

@include scrollbars(0.45em, #c1c1c1, 4px);

#ajax-loader {
  display: none;
  position: fixed;
  top: calc(50% - 100px);
  #{$left}: calc(50% - 100px);
  width: 200px;
  height: 200px;
  z-index: 100010;
  background: url(../../images/loader.gif) scroll no-repeat 5px 50% transparent;
  transform: scale(0.15);
}

img {
  .loading {
    background: url(../../images/preloader.gif) no-repeat center center transparent;
  }
}