@import "../global";
@import "../layout";

.heading-title{
    @media (min-width: 420px) {
        font-size: 38px;
    }
    font-family: 'Avenir-Medium';
    color: $dark-blue;
    line-height: 1.06;
    letter-spacing: -1.14px;}
.acc {
    padding: $sec-padding;
    form{
        @include minSmall {
            width: 382px; 
            margin: auto;
        }
        @include maxExtraSmall {
            margin: 0 20px;
        }
        label{
            color: $dark-gray;
            font-family: 'AvenirLTStd-Roman';
            a {
                color: $dark-gray-half-opacity;
                @include prefixer(transition, all 0.3s ease-in-out, webkit moz o);
                &:hover{
                    color: $dark-gray;
                }
            }
        }
    }
    .desc{
        font-family: 'AvenirLTStd-Book';
        color: $dark-gray;
        a {
            color: $gold;
        }
    }
}
.reset-success-msg {
    font-family: 'AvenirLTStd-Roman';
    position: fixed;
    right: 10px;
    top: 100px;
    background-color: $dark-gray;
    padding: 10px 15px;
    color: $white;
    font-family: AvenirLTStd-Roman;
    font-size: 14px;
    @include prefixer(transition, all 0.3s ease-in-out, webkit moz o);
    @include minMeduim {
        width: 400px;
    }
    @include maxSmall {
        width: calc(100% - 20px);
    }
    &:not(.show) {
        display: none;
    }
    a {
        color: $white;
        text-shadow: unset;
        &:hover{
            color: $white;
        }
    }
}