@font-face {
  font-family: AvenirLTStd-Black;
  src: url("../../fonts/AvenirLTStd-Black.otf") format("opentype");
}

@font-face {
  font-family: AvenirLTStd-Book;
  src: url("../../fonts/AvenirLTStd-Book.otf") format("opentype");
}

@font-face {
  font-family: AvenirLTStd-Roman;
  src: url("../../fonts/AvenirLTStd-Roman.otf") format("opentype");
}

@font-face {
  font-family: Avenir-Medium;
  src: url("../../fonts/Avenir-Medium.otf") format("opentype");
}

@font-face {
  font-family: Avenir-Light;
  src: url("../../fonts/Avenir-Light.otf") format("opentype");
}

@font-face {
  font-family: Avenir-Heavy;
  src: url("../../fonts/Avenir-Heavy.otf") format("opentype");
}

@font-face {
  font-family: PlayfairDisplay-Regular;
  src: url("../../fonts/Playfair_Display/PlayfairDisplay-Regular.otf") format("opentype");
}

@font-face {
  font-family: PlayfairDisplay-SemiBold;
  src: url("../../fonts/Playfair_Display/PlayfairDisplay-SemiBold.ttf") format("truetype");
}

@font-face {
  font-family: PlayfairDisplay-Medium;
  src: url("../../fonts/Playfair_Display/PlayfairDisplay-Medium.otf") format("opentype");
}

@font-face {
  font-family: PlayfairDisplay-Bold;
  src: url("../../fonts/Playfair_Display/PlayfairDisplay-Bold.otf") format("opentype");
}

.categories-header .search-form button, .search-box .search-form button {
  border: 1px solid #ced4da;
  background-color: unset;
  cursor: pointer;
}

.categories-header .search-form button.search-filter-clear, .search-box .search-form button.search-filter-clear {
  display: none;
}

.categories-header .search-form button.search-filter-clear span, .search-box .search-form button.search-filter-clear span {
  font-size: 20px;
  line-height: 1;
}

.categories-header .search-form button.search-btn, .search-box .search-form button.search-btn {
  border-radius: 0 0.25rem 0.25rem 0;
  padding-right: 10px;
}

.categories-header .search-form button i, .search-box .search-form button i,
.categories-header .search-form button span,
.search-box .search-form button span {
  color: #212121;
}

.categories-header .search-form .autocomplete-suggestions, .search-box .search-form .autocomplete-suggestions {
  background-color: #fff;
  padding: 10px;
  overflow-y: auto;
  border: 1px solid #ced4da;
  border-top: 0;
}

.categories-header .search-form .autocomplete-suggestions .autocomplete-suggestion, .search-box .search-form .autocomplete-suggestions .autocomplete-suggestion {
  font-size: 18px;
  padding: 5px;
  color: #303030;
  cursor: pointer;
}

.categories-header .search-form .autocomplete-suggestions .autocomplete-suggestion:hover, .search-box .search-form .autocomplete-suggestions .autocomplete-suggestion:hover {
  background-color: #f9f9f9;
}

.header .navbar .container .navbar-collapse .navbar-nav .nav-item .nav-link, .categories-header ul li {
  font-size: 20px;
  color: #303030;
}

.my-orders .order-status .collapsed.accord .icon-arrow-up, .my-orders .order-box .items .collapsed.accord .icon-arrow-up {
  display: none;
}

.my-orders .order-status .accord:not(.collapsed) .icon-arrow-down, .my-orders .order-box .items .accord:not(.collapsed) .icon-arrow-down {
  display: none;
}

body {
  font-family: Avenir-Light;
  overflow-x: hidden;
  font-size: 16px;
}

@media (min-width: 1360px) {
  .container {
    max-width: 144rem;
    padding-inline: 4.8rem;
  }
}

a {
  color: #000;
}

a:hover {
  text-decoration: unset;
}

.btn-primary {
  font-family: 'Avenir-Heavy';
  background-color: #303030;
  border-color: #303030;
  text-transform: uppercase;
  font-size: 14px;
  letter-spacing: 1px;
  height: 38px;
  outline: 0;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.btn-primary:hover {
  background-color: #84754e;
  border-color: #84754e;
}

.btn-primary:active:not(:disabled) {
  background-color: #303030 !important;
  border-color: #303030 !important;
}

.btn-primary:disabled {
  background-color: #c4c4c4;
  border-color: #c4c4c4;
}

button:focus {
  -webkit-box-shadow: unset !important;
  -o-box-shadow: unset !important;
  box-shadow: unset !important;
  outline: unset;
}

button:active:focus {
  -webkit-box-shadow: unset !important;
  -o-box-shadow: unset !important;
  box-shadow: unset !important;
}

.form-control:not(textarea) {
  height: 48px;
}

.form-control:focus {
  color: #495057;
  background-color: #fff;
  border-color: #ced4da;
  outline: 0;
  -webkit-box-shadow: unset;
          box-shadow: unset;
}

.fullscreen-bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #00000080;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.fullscreen-bg.active {
  z-index: 10;
  opacity: 1;
  visibility: visible;
}

#ajax-loader {
  display: none;
  position: fixed;
  top: calc(50% - 100px);
  left: calc(50% - 100px);
  width: 200px;
  height: 200px;
  z-index: 100010;
  background: url(../../images/loader.gif) scroll no-repeat 5px 50% transparent;
  -webkit-transform: scale(0.15);
          transform: scale(0.15);
}

@media (min-width: 768px) {
  .header {
    padding-top: 90px;
  }
}

@media (max-width: 767.98px) {
  .header {
    padding-top: 72px;
  }
}

.header .navbar {
  padding: 10px 0;
  position: absolute;
  top: 0;
  width: 100%;
  left: 0;
  background-color: #fff;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.header .navbar.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  left: 0;
  z-index: 100;
  -webkit-box-shadow: 0 3px 10px #00000017;
  -o-box-shadow: 0 3px 10px #00000017;
  box-shadow: 0 3px 10px #00000017;
}

.header .navbar .container {
  position: relative;
}

@media (max-width: 991.98px) {
  .header .navbar .container {
    padding-inline: 15px;
  }
}

.header .navbar .container > * {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.header .navbar .container .navbar-toggler {
  border: none;
  padding: 0;
}

.header .navbar .container .navbar-toggler:focus {
  outline: unset;
}

@media (max-width: 767.98px) {
  .header .navbar .container .navbar-toggler span {
    width: 1em;
    height: 1em;
  }
}

@media (max-width: 991.98px) {
  .header .navbar .container .navbar-collapse {
    display: block !important;
    position: fixed;
    top: 0;
    left: -300px;
    height: 100vh;
    padding: 20px;
    z-index: 100;
    overflow-y: auto;
    width: 300px;
    background-color: #fff;
  }
}

@media (max-width: 991.98px) {
  .header .navbar .container .navbar-collapse .navbar-nav {
    margin-top: 20px;
  }
}

.header .navbar .container .navbar-collapse .navbar-nav .nav-close a {
  width: 30px;
  height: 30px;
  font-size: 30px;
  position: absolute;
  top: 10px;
  right: 10px;
}

.header .navbar .container .navbar-collapse .navbar-nav .nav-close a:hover {
  color: #84754e;
}

.header .navbar .container .navbar-collapse .navbar-nav .nav-item {
  font-family: Avenir-Medium;
}

.header .navbar .container .navbar-collapse .navbar-nav .nav-item.active > a {
  color: #00000080;
}

.header .navbar .container .navbar-collapse .navbar-nav .nav-item a {
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.header .navbar .container .navbar-collapse .navbar-nav .nav-item a:hover {
  color: #84754e;
}

@media (min-width: 992px) {
  .header .navbar .container .navbar-collapse .navbar-nav .nav-item:hover > .sub-menu {
    zoom: 1;
    filter: alpha(opacity=100);
    opacity: 1;
    visibility: visible;
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }
}

@media (min-width: 992px) {
  .header .navbar .container .navbar-collapse .navbar-nav .nav-item > .sub-menu {
    position: absolute;
    background: #f9f9f9;
    z-index: 2;
    top: 80px;
    padding: 30px;
    zoom: 1;
    filter: alpha(opacity=0);
    opacity: 0;
    -webkit-transform: translate(0, 20px);
    transform: translate(0, 20px);
    -webkit-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
    visibility: hidden;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-size: 14px;
    color: #000;
  }
}

@media (min-width: 992px) and (min-width: 1360px) {
  .header .navbar .container .navbar-collapse .navbar-nav .nav-item > .sub-menu {
    left: 4.8rem;
    right: 4.8rem;
  }
}

@media (min-width: 992px) and (max-width: 1359.98px) {
  .header .navbar .container .navbar-collapse .navbar-nav .nav-item > .sub-menu {
    left: 0;
    right: 0;
  }
}

@media (max-width: 991.98px) {
  .header .navbar .container .navbar-collapse .navbar-nav .nav-item > .sub-menu {
    padding-left: 15px;
  }
}

.header .navbar .container .navbar-collapse .navbar-nav .nav-item > .sub-menu > li {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

@media (max-width: 991.98px) {
  .header .navbar .container .navbar-collapse .navbar-nav .nav-item > .sub-menu > li:not(:first-of-type) {
    margin-top: 15px;
  }
}

@media (min-width: 992px) {
  .header .navbar .container .navbar-collapse .navbar-nav .nav-item > .sub-menu > li.megamenu-li {
    padding-right: 30px;
  }
}

.header .navbar .container .navbar-collapse .navbar-nav .nav-item > .sub-menu > li.megamenu-li .title {
  text-transform: uppercase;
  position: relative;
  padding-bottom: 5px;
  display: block;
}

.header .navbar .container .navbar-collapse .navbar-nav .nav-item > .sub-menu > li.megamenu-li .title:after {
  position: absolute;
  content: '';
  width: 100%;
  height: 2px;
  left: 0;
  bottom: 0;
  background-color: #dadada;
}

.header .navbar .container .navbar-collapse .navbar-nav .nav-item > .sub-menu > li.megamenu-li .submenu-li a {
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.header .navbar .container .navbar-collapse .navbar-nav .nav-item > .sub-menu > li.megamenu-li .submenu-li a:hover {
  color: #84754e;
}

@media (min-width: 992px) {
  .header .navbar .container .navbar-collapse .navbar-nav .nav-item > .sub-menu > li.menu-banner {
    padding-left: 50px;
  }
}

.header .navbar .container .navbar-collapse .navbar-nav .nav-item > .sub-menu > li.menu-banner img {
  min-height: 170px;
}

@media (min-width: 992px) {
  .header .navbar .container .navbar-collapse .navbar-nav .nav-item > .sub-menu > li.menu-banner img {
    width: 50%;
  }
}

.header .navbar .container .navbar-collapse .navbar-nav .nav-item > .sub-menu > li.menu-banner a {
  color: #84754e;
  font-size: 12px;
}

.header .navbar .container .navbar-collapse .navbar-nav .nav-item > .sub-menu > li.menu-banner a span {
  padding-right: 10px;
  text-transform: uppercase;
}

.header .navbar .container .navbar-collapse .navbar-nav .nav-item i {
  font-size: 12px;
}

.header .navbar .container .navbar-brand {
  padding: 0;
}

@media (min-width: 768px) {
  .header .navbar .container .navbar-brand img {
    width: 200px;
  }
}

@media (min-width: 576px) and (max-width: 767.98px) {
  .header .navbar .container .navbar-brand img {
    width: 150px;
  }
}

@media (max-width: 575.98px) {
  .header .navbar .container .navbar-brand img {
    width: 100px;
  }
}

.header .navbar .container .shop-elements a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .navbar .container .shop-elements a:not(.search) {
  width: 27px;
}

.header .navbar .container .shop-elements a.search {
  position: relative;
}

@media (min-width: 768px) {
  .header .navbar .container .shop-elements a.search {
    margin-right: 10px;
  }
  .header .navbar .container .shop-elements a.search:after {
    position: absolute;
    content: '';
    width: 1.7px;
    height: 100%;
    right: 0;
    bottom: 0;
    background-color: #dadada;
  }
}

@media (max-width: 767.98px) {
  .header .navbar .container .shop-elements a.search {
    width: 27px;
  }
}

.header .navbar .container .shop-elements a.search span {
  color: #00000080;
  padding-inline: 10px 15px;
}

.header .navbar .container .shop-elements a.filled i {
  color: #212121;
  position: relative;
}

.header .navbar .container .shop-elements a.filled i:after {
  position: absolute;
  content: '';
  width: 7px;
  height: 7px;
  right: -1px;
  bottom: -2px;
  background-color: #b11515;
  border-radius: 50%;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.header .navbar .container .shop-elements a:hover i {
  color: #84754e;
}

@media (max-width: 479.98px) {
  .header .navbar .container .shop-elements a:not(.cart):not(.user) {
    display: none;
  }
}

.categories-header ul li {
  font-family: AvenirLTStd-Roman;
}

.categories-header ul li:hover a {
  color: #84754e;
}

@media (min-width: 992px) {
  .categories-header .search-form {
    width: 240px;
  }
}

@media (max-width: 991.98px) {
  .categories-header .search-form {
    width: 100%;
  }
}

.categories-header .search-form .form-control {
  height: 40px;
}

@media (min-width: 992px) {
  .categories-header .search-form .autocomplete-suggestions {
    width: 240px !important;
  }
}

@media (min-width: 768px) and (max-width: 991.98px) {
  .categories-header .search-form .autocomplete-suggestions {
    width: 690px !important;
  }
}

@media (min-width: 576px) and (max-width: 767.98px) {
  .categories-header .search-form .autocomplete-suggestions {
    width: 510px !important;
  }
}

@media (max-width: 575.98px) {
  .categories-header .search-form .autocomplete-suggestions {
    width: calc(100% - 30px) !important;
  }
}

.search-box {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: #fff;
  padding-block: 30px;
  z-index: 100;
  -webkit-box-shadow: 0 3px 10px #00000017;
  -o-box-shadow: 0 3px 10px #00000017;
  box-shadow: 0 3px 10px #00000017;
}

@media (min-width: 768px) {
  .search-box .logo img {
    width: 200px;
  }
}

@media (max-width: 767.98px) {
  .search-box .logo img {
    width: 150px;
  }
}

@media (min-width: 992px) {
  .search-box .search-form {
    width: 50%;
  }
}

@media (min-width: 768px) and (max-width: 991.98px) {
  .search-box .search-form {
    width: 70%;
  }
}

@media (min-width: 768px) {
  .search-box .search-form {
    margin: auto;
  }
}

@media (max-width: 767.98px) {
  .search-box .search-form {
    margin: 0 20px;
  }
}

.search-box .search-form .autocomplete-suggestions {
  position: relative !important;
  width: 100% !important;
}

.page-title .breadcrumb {
  background-color: unset;
}

.page-title .breadcrumb li a:hover {
  color: #84754e;
}

.page-title h1 {
  font-size: 32px;
  font-family: Avenir-Medium;
  text-transform: uppercase;
}

.footer {
  padding: 60px 0;
}

.footer .title {
  font-family: Avenir-Medium;
  font-size: 24px;
  color: #303030;
}

.footer .links li a {
  font-family: AvenirLTStd-Book;
  color: #303030;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.footer .links li a:hover {
  color: #84754e;
}

::-moz-selection {
  background: #84754e;
  color: #fff;
}

::selection {
  background: #84754e;
  color: #fff;
}

::-moz-selection {
  background: #84754e;
  color: #fff;
}

::-webkit-selection {
  background: #84754e;
  color: #fff;
}

::-webkit-scrollbar {
  width: 0.45em;
  height: 0.45em;
}

::-webkit-scrollbar-thumb {
  background: #c1c1c1;
  border-radius: 4px;
}

::-webkit-scrollbar-track {
  background: #e0e0e0;
}

@media (max-width: 767.98px) {
  .orders-nav ul.vertical {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 20px !important;
  }
}

.orders-nav ul.vertical li {
  padding-block: 5px;
}

.orders-nav ul.vertical li.active:before, .orders-nav ul.vertical li:hover:before {
  width: 2px;
  height: 100%;
  top: 0;
}

@media (min-width: 768px) {
  .orders-nav ul.horizontal:after {
    position: absolute;
    content: '';
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #eaeaea;
  }
}

@media (min-width: 768px) {
  .orders-nav ul.horizontal li {
    padding-right: 10px;
  }
}

@media (max-width: 767.98px) {
  .orders-nav ul.horizontal li.active:before, .orders-nav ul.horizontal li:hover:before {
    display: none;
  }
}

.orders-nav ul.horizontal li.active:before, .orders-nav ul.horizontal li:hover:before {
  width: 100%;
  height: 3px;
  bottom: 0;
}

.orders-nav ul.horizontal li.active a {
  font-family: Avenir-Heavy;
}

.orders-nav ul.horizontal li.notif:after {
  position: absolute;
  content: '';
  width: 12px;
  height: 12px;
  top: 5px;
  background-color: #cf4f4f;
  border-radius: 50%;
}

@media (min-width: 768px) {
  .orders-nav ul.horizontal li.notif:after {
    right: -12px;
  }
}

@media (max-width: 767.98px) {
  .orders-nav ul.horizontal li.notif:after {
    right: 0;
  }
}

.orders-nav ul li {
  font-family: AvenirLTStd-Book;
  position: relative;
}

.orders-nav ul li.active:before, .orders-nav ul li:hover:before {
  position: absolute;
  content: '';
  left: 0;
  background-color: #84754e;
  z-index: 2;
}

.orders-nav ul li.active a, .orders-nav ul li:hover a {
  color: #84754e;
}

.orders-nav ul li a {
  color: #303030;
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

@media (max-width: 767.98px) {
  .orders-nav-icons ul li {
    width: 40px;
    height: 40px;
    line-height: 50px;
    border: 1px solid #303030;
    border-radius: 4px;
    -webkit-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;
  }
  .orders-nav-icons ul li.active, .orders-nav-icons ul li:hover {
    border-color: #84754e;
    background-color: #84754e;
  }
  .orders-nav-icons ul li.active svg, .orders-nav-icons ul li:hover svg {
    fill: #fff;
  }
  .orders-nav-icons ul li svg {
    fill: #454545;
  }
}

.top-nav h2 {
  font-family: Avenir-Heavy;
  font-size: 16px;
  color: #303030;
}

.top-nav a {
  font-family: AvenirLTStd-Book;
  color: #84754e;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.top-nav a:hover {
  color: #303030;
}

@media (max-width: 575.98px) {
  .top-nav a .text {
    display: none;
  }
  .top-nav a .icon {
    font-size: 26px;
  }
}

.sec-padding {
  padding: 60px 0;
}

.my-orders .order-status .accord.collapsed {
  border-bottom: 2px solid #eaeaea;
}

.my-orders .order-status .accord h3 {
  font-family: Avenir-Heavy;
  font-size: 16px;
  color: #84754e;
}

.my-orders .order-status .accord i {
  color: #212121;
  font-size: 12px;
}

.my-orders .order-box {
  padding: 30px;
  border-radius: 4px;
  border: solid 1px #eaeaea;
}

@media (min-width: 992px) {
  .my-orders .order-box {
    width: calc(100% - 250px);
  }
}

.my-orders .order-box .serial .title {
  font-family: Avenir-Heavy;
  font-size: 32px;
  color: #303030;
}

.my-orders .order-box .serial .num {
  font-family: AvenirLTStd-Book;
  font-size: 14px;
  background-color: #84754e;
  color: #fff;
  border-radius: 4px;
  padding: 8px;
}

.my-orders .order-box .cancel {
  font-family: Avenir-Medium;
  color: #30303080;
  font-size: 20px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

@media (min-width: 576px) {
  .my-orders .order-box .cancel .icon {
    display: none;
  }
}

@media (max-width: 575.98px) {
  .my-orders .order-box .cancel .text {
    display: none;
  }
}

.my-orders .order-box .cancel:hover {
  color: #303030;
}

.my-orders .order-box h3 {
  font-family: Avenir-Heavy;
  font-size: 20px;
  color: #303030;
}

@media (min-width: 576px) {
  .my-orders .order-box .tracking .cycle {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media (max-width: 575.98px) {
  .my-orders .order-box .tracking .cycle {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.my-orders .order-box .tracking .cycle .box {
  position: relative;
  width: 90px;
}

@media (min-width: 576px) {
  .my-orders .order-box .tracking .cycle .box:not(:last-child) {
    margin-right: 50px;
  }
}

@media (max-width: 575.98px) {
  .my-orders .order-box .tracking .cycle .box:not(:last-child) {
    margin-bottom: 40px;
  }
}

.my-orders .order-box .tracking .cycle .box:not(.active) {
  zoom: 1;
  filter: alpha(opacity=50);
  opacity: 0.5;
}

.my-orders .order-box .tracking .cycle .box:not(:last-child):after {
  position: absolute;
  content: '\203A';
  color: #303030;
  font-size: 26px;
}

@media (min-width: 576px) {
  .my-orders .order-box .tracking .cycle .box:not(:last-child):after {
    right: -30px;
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
  }
}

@media (max-width: 575.98px) {
  .my-orders .order-box .tracking .cycle .box:not(:last-child):after {
    left: 50%;
    bottom: -40px;
    -webkit-transform: translateX(-50%) rotate(90deg);
    transform: translateX(-50%) rotate(90deg);
  }
}

@media (min-width: 768px) {
  .my-orders .order-box .tracking .cycle .box img {
    width: 44px;
    height: 44px;
  }
}

@media (max-width: 767.98px) {
  .my-orders .order-box .tracking .cycle .box img {
    width: 30px;
    height: 30px;
  }
}

.my-orders .order-box .tracking .cycle .box h4 {
  font-family: Avenir-Medium;
  font-size: 20px;
  color: #303030;
}

@media (max-width: 575.98px) {
  .my-orders .order-box .details > div {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media (min-width: 576px) {
  .my-orders .order-box .details .address, .my-orders .order-box .details .payment {
    width: 50%;
  }
}

.my-orders .order-box .details h4 {
  font-family: Avenir-Heavy;
  font-size: 16px;
  color: #303030;
}

.my-orders .order-box .details p {
  font-family: Avenir-Medium;
  color: #30303080;
  font-size: 14px;
}

.my-orders .order-box .items {
  color: #303030;
}

.my-orders .order-box .items .accord i {
  color: #212121;
  font-size: 12px;
}

@media (max-width: 575.98px) {
  .my-orders .order-box .items .box {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media (min-width: 576px) {
  .my-orders .order-box .items .box .media {
    width: calc(100% - 120px);
  }
}

.my-orders .order-box .items .box .media img {
  width: 80px;
  height: 80px;
}

.my-orders .order-box .items .box .media h4, .my-orders .order-box .items .box .media p {
  font-size: 16px;
  font-family: AvenirLTStd-Book;
}

.my-orders .order-box .items .box .price {
  font-family: Avenir-Heavy;
  font-size: 18px;
}

@media (min-width: 576px) {
  .my-orders .order-box .items .box .price {
    width: 120px;
    text-align: right;
  }
}

@media (max-width: 575.98px) {
  .my-orders .order-box .items .box .price {
    margin-left: 95px;
  }
}

@media (min-width: 768px) {
  .table {
    display: table;
  }
}

.table th, .table td {
  color: #303030;
}

@media (min-width: 576px) {
  .table th:first-child, .table td:first-child {
    padding-left: 40px;
  }
  .table th:last-child, .table td:last-child {
    padding-right: 40px;
  }
}

.table .thead-dark th {
  background-color: #303030;
  border-color: transparent;
  font-family: Avenir-Medium;
  font-weight: normal;
}

@media (min-width: 768px) {
  .table .thead-dark th:first-child {
    border-radius: 4px 0 0 4px;
  }
  .table .thead-dark th:last-child {
    border-radius: 0 4px 4px 0;
  }
}

@media (min-width: 576px) {
  .table tbody td {
    padding: 20px;
  }
}

.table tbody td.name, .table tbody td.number {
  font-family: AvenirLTStd-Book;
}

.table tbody td.address, .table tbody td.more {
  font-family: Avenir-Medium;
}

.table tbody td.address {
  font-size: 14px;
}

.table tbody td.more a:hover {
  color: #84754e;
}

.table tbody td.more a i {
  margin-right: 10px;
}

.table::-webkit-scrollbar {
  width: 0.4em;
  height: 0.4em;
}

.table::-webkit-scrollbar-thumb {
  background: #c1c1c1;
  border-radius: 4px;
}

.table::-webkit-scrollbar-track {
  background: #e0e0e0;
}

.table {
  scrollbar-face-color: #c1c1c1;
  scrollbar-track-color: #e0e0e0;
}

.profile h2 {
  font-family: Avenir-Heavy;
  font-size: 20px;
  color: #303030;
}

.profile .btn {
  font-family: Avenir-Heavy;
  font-size: 14px;
  letter-spacing: 1px;
  width: 130px;
  height: 44px;
}

.profile label a {
  font-family: AvenirLTStd-Book;
  color: #84754e;
}

.profile label a:hover {
  color: #303030;
}

.profile .form-control[readonly] {
  background-color: transparent;
}

.custom-form {
  color: #303030;
}

.custom-form label {
  font-family: 'AvenirLTStd-Roman';
}

.custom-form .payment-error-message {
  font-family: 'AvenirLTStd-Roman';
  margin-top: 5px;
  display: block;
}

@media (min-width: 576px) {
  .custom-form .row > div.col-sm-6:first-child {
    padding-right: 8px;
  }
}

@media (max-width: 575.98px) {
  .custom-form .row > div.col-sm-6:first-child {
    margin-bottom: 1rem;
  }
}

@media (min-width: 576px) {
  .custom-form .row > div.col-sm-6:last-child {
    padding-left: 8px;
  }
}

.custom-form .row > div + .payment-error-message {
  padding-left: 15px;
}

@media (max-width: 767.98px) {
  .custom-form .row > div.col-md-6 {
    margin-bottom: 1rem;
  }
}

.custom-form .select-ctrl {
  position: relative;
}

.custom-form .select-ctrl:after {
  position: absolute;
  content: '\203A';
  color: #303030;
  font-size: 26px;
  top: 36px;
  right: 25px;
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
}

.custom-form .select-ctrl select.form-control {
  height: 48px;
  -webkit-appearance: none;
  -moz-appearance: none;
  -o-appearance: none;
  appearance: none;
}

.modal#cancelOrderModal .close {
  position: absolute;
  top: 10px;
  right: 15px;
}

.modal#addressAddEditModal .address-delete {
  font-family: Avenir-Medium;
  font-size: 20px;
  color: #30303080;
}

.modal#addressAddEditModal .address-delete:hover {
  color: #303030;
}

.modal#cardsAddModal ::-webkit-input-placeholder {
  text-align: center;
}

.modal#cardsAddModal :-moz-placeholder {
  text-align: center;
}

@media (min-width: 768px) {
  .modal .modal-dialog.size-sm {
    max-width: 636px;
  }
}

.modal .modal-dialog.size-sm .modal-body {
  padding: 30px;
}

@media (min-width: 768px) {
  .modal .modal-dialog.size-xs {
    max-width: 478px;
  }
}

.modal .modal-dialog.size-xs .modal-body {
  padding: 40px;
}

.modal .modal-content {
  color: #303030;
}

.modal .modal-content .close {
  font-size: 42px;
  color: #212121;
  font-weight: normal;
}

.modal .modal-content h3 {
  font-family: Avenir-Heavy;
  font-size: 32px;
}

.modal .modal-content p {
  font-family: Avenir-Medium;
  font-size: 20px;
}

.modal .modal-content .btn {
  font-family: Avenir-Heavy;
  font-size: 14px;
  letter-spacing: 1px;
  width: 130px;
  height: 44px;
}

.modal .modal-content .btn.btn-secondary {
  background-color: transparent;
  color: #303030;
}
/*# sourceMappingURL=orders.css.map */