@import "../global";

.shop {
    .shop-sidebar {
        .close {
            float: unset;
        }
        @include maxSmall {
            overflow: auto;
            position: fixed;
            background: white;
            height: 100%;
            z-index: 100;
            padding: 20px;
            top: 0;
            @include prefixer(transition, left 0.3s ease-in-out, webkit moz o);
            @include minSmallToMaxSmall {
                left: -330px;
                width: 330px;
            }
            @include maxExtraSmall {
                width: 100%;
                left: -100%;
            }
        }
        .filter-title {
            h4 {
                font-size: 20px;
            }
            a {
                color: $black-half-opacity;
            }
        }
        .filter-group {
            padding: 25px 0 15px;
            &:not(:last-child) {
                border-bottom: 1px solid $black-half-opacity; 
            }
            .accord {
                &.collapsed {
                    .icon-arrow-up {
                        display: none;
                    }
                }
                &:not(.collapsed) {
                    .icon-arrow-down {
                        display: none;
                    }
                }
                &:hover {
                    color: $black;
                }
                h4 {
                    font-size: 16px;
                }
                i {
                    font-size: 12px;
                }
            }
            .filter-options {
                .brands-search {
                    .input-group {
                        position: relative;
                        span {
                            position: absolute;
                            left: 0;
                            top: 0;
                            width: 35px;
                            height: 100%;
                            z-index: 4;
                            color: $light-black;
                        }
                        input {
                            padding-left: 40px;
                        }
                    }
                }
                ul {
                    li {
                        div {
                            padding: 10px 0;
                            input {
                                width: 17px;
                                height: 18px;
                                @include prefixer(appearance, none, webkit moz o);
                                &:checked {
                                    & + label:before {
                                        background:$black;
                                    }
                                    & + label:after {
                                        position: absolute;
                                        content: "\2714";
                                        width: 16px;
                                        height: 16px;
                                        left: -16px;
                                        top: 4px;
                                        color: $white;
                                        display: flex;
                                        align-items: center;
                                        justify-content: center;
                                        font-size: 14px;
                                        @include prefixer(transition, all 0.3s ease-in-out, webkit moz o);
                                    }
                                }
                            }
                            label {
                                position: relative;
                                font-size: 14px;
                                text-transform: capitalize;
                                .count {
                                    color: $black-half-opacity;
                                }
                                .color {
                                    width: 24px;
                                    height: 24px;
                                    &.green {
                                        background-color: $green;
                                    }
                                    &.brown {
                                        background-color: $brown;
                                    }
                                    &.pink {
                                        background-color: $pink;
                                    }
                                    &.multicolor {
                                        background: linear-gradient(135deg, $orange 50%, $green 50%)
                                    }
                                }
                                &:before {
                                    content: "";
                                    width: 16px;
                                    height: 16px;
                                    border: 1px solid $black;
                                    position: absolute;
                                    left: -16px;
                                    top: 50%;
                                    transform: translateY(-50%);
                                    background: white;
                                }
                            }
                        }
                    }
                }
                .slider-box {
                    padding-top: 15px;
                    .price-values {
                        & > div {
                            border: 1px solid $dark-gray-half-opacity;
                            padding: 5px 10px;
                            width: 110px;
                            border-radius: 4px;
                            font-family: AvenirLTStd-Roman;
                            label {
                                font-size: 12px;
                                color: $dark-gray-half-opacity;
                            }
                            input {
                                width: 100%;
                                border: none;
                                vertical-align: top;
                                color: $dark-gray;
                                outline: 0;
                            }
                        }
                    }                    
                    .slider {
                        margin-top: 25px;
                        height: 4px;
                        background-color: #d7d7d7;
                        border-color: #d7d7d7;
                        .ui-widget-header {
                            background-color: $black;
                        }
                        span {
                            border-radius: 50%;
                            top: -8px;
                            background-color: $white;
                            border-color: $black;
                            border-width: 2px;
                        }
                    }
                }
            }
        }
    }
    .shop-content {
        .shop-topbar {
            .filter-btn {
                width: fit-content;
                border: solid 1px $black-quarter-opacity;
                padding: 5px 10px;
                cursor: pointer;
            }
            .results-count {
                font-size: 18px;
                color: $black-half-opacity;
            }
            .tags {
                & > div {
                    display: inline-flex;
                    margin-right: 10px;
                    margin-top: 10px;
                    padding: 5px 10px;
                    border-radius: 4px;
                    border: solid 1px $black-quarter-opacity;
                    .title {
                        max-width: 120px;
                        white-space: nowrap;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        display: inline-block;
                        cursor: default;
                    }
                    .clear {
                        margin-left: 5px;
                        font-size: 24px;
                        height: 25px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        &:hover {
                            color: $black;
                        }
                    }
                }
            }
        }
        .shop-grid {
            .product-box {
                &:hover {
                    .card-img-top {
                        &:after{
                            left: 0;
                        }
                    }
                }
                .card-img-top {
                    position: relative;
                    overflow: hidden;
                    &:after {
                        position: absolute;
                        top: 0;
                        left: -100%;
                        width: 100%;
                        height: 100%;
                        content: " ";
                        z-index: 1;
                        background-color: #0000001a;
                        @include prefixer(transition, all 0.5s ease-in-out, webkit moz o);
                    }
                }
                .card-body {
                    font-size: 14px;
                    .colors {
                        div {
                            position: relative;
                            input {
                                width: 30px;
                                height: 31px;
                                margin-right: 10px;
                                @include prefixer(appearance, none, webkit moz o);
                                &:checked {
                                    & + label:before {
                                        @include prefixer(box-shadow, 0px 0px 4px $dark-gray, webkit moz o);
                                    }
                                    & + label:after {
                                        position: absolute;
                                        content: "";
                                        width: 30px;
                                        height: 30px;
                                        left: 0;
                                        top: 3px;
                                        color: $white;
                                        display: flex;
                                        align-items: center;
                                        justify-content: center;
                                        font-size: 14px;
                                        @include prefixer(transition, all 0.3s ease-in-out, webkit moz o);
                                    }
                                }
                            }
                            label {
                                &.green {
                                    &:before {
                                        background-color: $green;
                                    }
                                }
                                &.brown {
                                    &:before {
                                        background-color: $brown;
                                    }
                                }
                                &.pink {
                                    &:before {
                                        background-color: $pink;
                                    }
                                }
                                &:before {
                                    content: "";
                                    width: 30px;
                                    height: 30px;
                                    border-radius: 50%;
                                    border: 1px solid #c3c3c3;
                                    position: absolute;
                                    left: 0;
                                    top: 50%;
                                    transform: translateY(-50%);
                                }
                            }
                        }
                    }
                    .card-title, .card-text {
                        color: $light-black3;
                    }
                    .card-title {
                        font-weight: 900;
                        font-size: 20px;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        display: -webkit-box;
                        -webkit-line-clamp: 1;
                        -webkit-box-orient: vertical;
                    }
                    .card-price {
                        color: $gold;
                    }
                    .add-to-bag {
                        @extend %cart-btn;
                        position: relative;
                        overflow: hidden;
                        &.state-change {
                            .btn-content {
                                display: none;
                            }
                        }
                        &.loading {
                            background: $dark-gray;
                            cursor: not-allowed;
                            .btn-loading {
                                display: block;
                            }
                        }
                        &.success {
                            border-color: transparent;
                            .btn-success {
                                top: 0;
                                opacity: 1;
                            }    
                        }
                        .btn-loading {
                            display: none;
                            @include prefixer(transition, all 0.3s ease-in-out, webkit moz o);
                        }
                        .btn-success {
                            position: absolute;
                            width: 100%;
                            height: 100%;
                            left: 0;
                            top: -40px;
                            opacity: 0;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            @include prefixer(transition, top 0.3s ease-in-out, webkit moz o);
                        }
                    }
                    .view-cart {
                        display: none;
                        @extend %cart-btn;
                        @include prefixer(transition, all 0.3s ease-in-out, webkit moz o);
                    }
                }
            }
        }
        .pagination {
            .page-item {
                &.active {
                    .page-link {
                        background-color: $light-black2;
                        color: $white;
                    }
                }
                .page-link {
                    border: unset;
                    border-radius: 0;
                    color: $light-black2;
                    min-width: 40px;
                    height: 40px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    &:focus {
                        @include prefixer(box-shadow, unset, webkit moz o);
                    }
                    span {
                        margin-left: 5px;
                        color: $light-black;
                        font-size: 12px;
                        line-height: 1;
                    }
                }
            }
        }
    }
}