$left: right;
$right: left;
$transform-direction: -1;
$AvenirLTStd-Black: 'Tajawal';
$AvenirLTStd-Book: 'Tajawal';
$AvenirLTStd-Roman: 'Tajawal';
$Avenir-Medium: 'Tajawal';
$Avenir-Light: 'Tajawal';
$Avenir-Heavy: 'Tajawal';
$PlayfairDisplay-Regular: 'Tajawal';
$PlayfairDisplay-SemiBold: 'Tajawal';
$PlayfairDisplay-Medium: 'Tajawal';
$PlayfairDisplay-Bold: 'Tajawal';

