$left: left;
$right: right;
$transform-direction: 1;
$AvenirLTStd-Black: 'AvenirLTStd-Black';
$AvenirLTStd-Book: 'AvenirLTStd-Book';
$AvenirLTStd-Roman: 'AvenirLTStd-Roman';
$Avenir-Medium: 'Avenir-Medium';
$Avenir-Light: 'Avenir-Light';
$Avenir-Heavy: 'Avenir-Heavy';
$PlayfairDisplay-Regular: 'PlayfairDisplay-Regular';
$PlayfairDisplay-SemiBold: 'PlayfairDisplay-SemiBold';
$PlayfairDisplay-Medium: 'PlayfairDisplay-Medium';
$PlayfairDisplay-Bold: 'PlayfairDisplay-Bold';