$light-gray: #f9f9f9;
$light-gray2 :#dadada;
$dark-gray: #303030;
$dark-gray-half-opacity: #30303080;
$gold: #84754e;
$beige: #dcc6b6;
$light-black:#212121;
$light-black2: #2f292b;
$light-black3: #454545;
$black-half-opacity: #00000080;
$black: #000;
$white-half-opacity: #ffffff80;
$white: #fff;
$red: #b11515;
$dark-blue: #3c3a55;
$sec-padding: 60px 0;
